@use "../../styles/variables.scss" as *;

#blog {
  background: $pink-color;
  h2 {
    color: $yellow-color;
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .post {
      font-family: "Alegreya", serif;
      background-color: $white-color;
      width: 100%;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      transition: all 400ms ease;
      &:hover {
        transform: scale(1.04);
      }
      .tag {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0 1rem;
        color: #000;
        background: $white-color;
        line-height: 1rem;
        font-weight: 700;
        border-radius: 10px;
      }
      img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 10px;
      }

      .post-title {
        line-height: 1.5rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: black;
        padding: 1rem 1.5rem;
        margin: 0;
      }
    }
  }

  .btn-container{
    display: flex;
    justify-content: end;

    button{
        font-weight: 700;
        background: $white-color;
        border: none;
        border-radius: 10px;
        padding: 4px 2rem;
        margin-top: 30px;
        cursor: pointer;
    }
  }
}


@media screen and (max-width: 1024px) {
  #blog {
    .content-container {
      grid-template-columns: repeat(2, 1fr);

      .post:nth-child(3){
        grid-column: 1/3;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #blog {
    .content-container {
      grid-template-columns: repeat(1, 1fr);

      .post:nth-child(3){
        grid-column: 1/2;
      }
    }
  }
  
}