@use "../../styles/variables.scss" as *;

#topics {
  background-color: black;
  .wrapper {
    position: relative;
  }
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    ul {
      list-style: none;
      margin: 0;
      margin-left: 1.5rem;
      li {
        font-family: "alegreya", serif;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 1.5rem 0;
        color: $white-color;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: -1.5rem;
          top: 50%;
          width: 8px;
          height: 8px;
          background: $red-color;
          border-radius: 50%;
          margin-right: 10px;
          transform: translateY(-50%);
        }
      }
    }
    .topic-img {
      width: 60%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .ele1 {
    position: absolute;
    bottom: 1rem;
    right: 0;
  }
}

//Tablet Version
@media (max-width: 1024px) {
  #topics {
    .topic-img {
      img {
        width: 385px;
        height: 280px;
      }
    }
    .ele1 {
      right:32px;
    }
  }
}

//Smart Phone

@media (max-width: 720px) {
  #topics {
    .topic-img {
      img {
        display: none;
      }
    }
  }
}
