@use "../../styles/variables.scss" as *;

nav {
  position: fixed;
  z-index: 1000;
  top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 80px;
  width: 1024px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 10px;
  backdrop-filter: blur(25px);

  .logo {
    color: $white-color;
    font-size: 1rem;
    font-weight: 800;
    span {
      color: $red-color;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    li {
      a {
        font-size: 1rem;
        font-weight: 800;
        color: $white-color;
      }
    }
  }
  .menu-icon {
    display: none;
  }
}
.mobile-nav {
  display: none;
}

@media (max-width: 1024px) {
  nav {
    width: 694px;
    padding: 1rem;
  }
}

@media (max-width: 720px) {
  nav {
    width: unset;
    left: 2rem;
    right: 2rem;
    top: 1rem;
    ul {
      display: none;
    }
    .menu-icon {
      display: block;
      color: $white-color;
      font-size: 1.5rem;
    }
  }
  .mobile-nav {
    display: flex;
    position: fixed;
    z-index: 1000;
    background: $dark-color;
    left: 0;
    right: 0;
    padding: 58px 32px;
    transform: translateY(-100%);
    transition: all 1200ms cubic-bezier(0.3, 0.96, 0.59, 0.95);
    ul {
      list-style: none;
      li {
        margin-bottom: 2rem;
        a {
          font-size: 1rem;
          font-weight: 800;
          color: $white-color;
        }
      }
    }
    .close {
      position: absolute;
      top: 32px;
      right: 60px;
      color: $white-color;
      font-size: 1.5rem;
    }
  }
  .active {
    transform: translateY(0);
  }
}
