@use "../../styles/variables.scss" as *;

/* Navigation Styles */
nav {
  position: fixed;
  z-index: 1000;
  top: 24px;
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Spacing between elements */
  align-items: center; /* Vertical alignment */
  padding: 2rem;
  height: 80px;
  width: 1024px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 10px;
  backdrop-filter: blur(25px); /* Blurred background effect */

  /* Logo Styles */
  .logo {
    color: $white-color;
    font-size: 1rem;
    font-weight: 800;

    /* Span within Logo */
    span {
      color: $red-color;
    }
  }

  /* Unordered List Styles */
  ul {
    list-style: none;
    display: flex; /* Flexbox layout for the list */
    gap: 3rem; /* Spacing between list items */

    /* List Item Styles */
    li {
      /* Anchor Link Styles */
      a {
        font-size: 1rem;
        font-weight: 800;
        color: $white-color;
      }
    }
  }

  /* Menu Icon Styles */
  .menu-icon {
    display: none;
  }
}

/* Mobile Navigation */
.mobile-nav {
  display: none;
}

/* Media Query for max-width 1024px */
@media (max-width: 1024px) {
  nav {
    width: 694px; /* Adjusted width for smaller screens */
    padding: 1rem; /* Adjusted padding */
  }
}

/* Media Query for max-width 720px */
@media (max-width: 720px) {
  nav {
    width: unset; /* Reset width for mobile screens */
    left: 2rem; /* Adjusted positioning */
    right: 2rem; /* Adjusted positioning */
    top: 1rem; /* Adjusted positioning */

    ul {
      display: none; /* Hide the navigation list */
    }

    /* Menu Icon Styles */
    .menu-icon {
      display: block;
      color: $white-color;
      font-size: 1.5rem;
    }
  }

  /* Mobile Navigation Overlay Styles */
  .mobile-nav {
    display: flex; /* Flexbox layout */
    position: fixed;
    z-index: 1000;
    background: $dark-color;
    left: 0;
    right: 0;
    padding: 58px 32px;
    transform: translateY(-100%);
    transition: all 1200ms cubic-bezier(0.3, 0.96, 0.59, 0.95); /* Transition effect */

    /* Unordered List Styles */
    ul {
      list-style: none;

      /* List Item Styles */
      li {
        margin-bottom: 2rem;

        /* Anchor Link Styles */
        a {
          font-size: 1rem;
          font-weight: 800;
          color: $white-color;
        }
      }
    }

    /* Close Button Styles */
    .close {
      position: absolute;
      top: 32px;
      right: 60px;
      color: $white-color;
      font-size: 1.5rem;
    }
  }

  /* Active State for Mobile Navigation */
  .active {
    transform: translateY(0); /* Slide in animation for mobile navigation */
  }
}
