@use "../../styles/variables.scss" as *;

#info {
  background: $dark-color;
  .wrapper {
    position: relative;
    padding: 2rem;
  }
  .ele2 {
    position: absolute;
    top: 0;
  }
  .content-container {
    display: flex;
    justify-content: space-around;
    .info-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      width: 100%;
      .amount {
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
  }
}
