@use "../../styles/variables.scss" as *;

footer {
  background: black;
  .logo {
    color: $white-color;
    font-size: 1rem;
    font-weight: 800;
    span {
      color: $red-color;
    }
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  .content-container {
    padding: 50px 0;

    .link {
      h3 {
        color: $red-color;
        font-weight: 700;
        font-size: 1.2rem;
      }
      .social-icons {
        display: flex;
        gap: 1rem;
        margin: 1.5rem 0;
      }
      ul{
        margin-top: 1rem;
        li{
            font-size: 1rem;
            font-weight: 400;
            margin:8px 16px
        }
      }
    }
  }

  .copyright {
    font-size: 1rem;
    line-height: 1.4rem;
    color: white;
  }
}
